$enable-transitions: false;

@import "../lib/pico-1.5.10/scss/pico";
@import "./error.scss";

body {
    > main {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 7rem);
        padding: 1rem 0;
    }

    > footer {
        padding: 1rem 0;
    }
}

footer {
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*
    Show loading indicator on div or on button
*/
button.htmx-request,
div.htmx-indicator {
    pointer-events: none;

    &::before {
        display: inline-block;
        width: 1em;
        height: 1em;
        border: 0.1875em solid currentColor;
        border-radius: 1em;
        border-right-color: transparent;
        content: "";
        vertical-align: text-bottom;
        vertical-align: -.125em; // Visual alignment
        animation: spinner 0.75s linear infinite;
        opacity: var(--loading-spinner-opacity);
    }

    &:not(:empty) {
        &::before {
            margin-right: calc(var(--spacing) * 0.5);
            margin-left: 0;
            margin-inline-start: 0;
            margin-inline-end: calc(var(--spacing) * 0.5);
        }
    }

    &:empty {
        text-align: center;
    }
}
