<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Xakpc.RazorHtmx</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", false)
    <script src="~/js/htmx.min.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <strong>
                    <a asp-area="" asp-page="/Index">Xakpc.RazorHtmx</a>
                </strong>
            </li>
        </ul>
        <ul>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li>
                <a class="nav-link text-dark" href="https://xakpc.info/htmx-dotnet" role="button" class="outline">Read the Blog Post</a>
            </li>
        </ul>
    </nav>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="container">
        <div>
            <small>
                &copy; 2023 - Xakpc.RazorHtmx - by <a href="https://x.com/xakpc">@@xakpc</a>
            </small>

            <img src="https://htmx.org/img/createdwith.jpeg" alt="htmx logo" style="height:50px;">
        </div>

    </footer>


    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>