@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<article>
    <hgroup>
        <h1>Welcome</h1>
        <h2>Razor + Pico.css starter template</h2>
    </hgroup>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</article>