@page
@model IndexModel
@{
    ViewData["Title"] = "htmx dotnet";
}

<article>
    <hgroup>
        <h1>UI Examples</h1>
        <h2>Below are a set of UX patterns implemented in <a href="https://htmx.org/">htmx</a> with dotnet <a href="https://learn.microsoft.com/en-us/aspnet/core/razor-pages/">Razor Pages</a></h2>
    </hgroup>

    <table>
        <thead>
        <th>Pattern</th>
        <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a asp-page="./ClickToEdit/ClickToEdit">Click To Edit</a>
                </td>
                <td>Demonstrates inline editing of a data object</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./BulkUpdate/BulkUpdate">Bulk Update</a>
                </td>
                <td>Demonstrates bulk updating of multiple rows of data</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./ClickToLoad/ClickToLoad">Click To Load</a>
                </td>
                <td>Demonstrates clicking to load more rows in a table</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./DeleteRow/DeleteRow">Delete Row</a>
                </td>
                <td>Demonstrates row deletion in a table</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./EditRow/EditRow">Edit Row</a>
                </td>
                <td>Demonstrates how to edit rows in a table</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./LazyLoad/LazyLoad">Lazy Loading</a>
                </td>
                <td>Demonstrates how to lazy load content</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./InlineValidation/InlineValidation">Inline Validation</a>
                </td>
                <td>Demonstrates how to do inline field validation</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./InfiniteScroll/InfiniteScroll">Infinite Scroll</a>
                </td>
                <td>Demonstrates infinite scrolling of a page</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./ActiveSearch/ActiveSearch">Active Search</a>
                </td>
                <td>Demonstrates the active search box pattern</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./ProgressBar/ProgressBar">Progress Bar</a>
                </td>
                <td>Demonstrates a job-runner like progress bar</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./ValueSelect/ValueSelect">Value Select</a>
                </td>
                <td>Demonstrates making the values of a select dependent on another select</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./Animations/Animations">Animations</a>
                </td>
                <td>Demonstrates various animation techniques</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./FileUpload/FileUpload">File Upload</a>
                </td>
                <td>Demonstrates how to upload a file via ajax with a progress bar</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./ImageUpload/ImageUpload">Image Upload</a>
                </td>
                <td>Demonstrates how to upload an image via ajax with a progress bar and show it</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./Dialogs/Dialogs">Dialogs - Browser</a>
                </td>
                <td>Demonstrates the prompt and confirm dialogs</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./DialogsHtml/DialogsHtml">Dialogs - Native</a>
                </td>
                <td>Demonstrates the prompt and confirm for HTML5 dialogs</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./Tabs/Tabs">Tabs (Using HATEOAS)</a>
                </td>
                <td>Demonstrates how to display and select tabs using HATEOAS principles</td>
            </tr>
            <tr>
                <td>
                    <a asp-page="./KeyboardShortcuts/KeyboardShortcuts">Keyboard Shortcuts</a>
                </td>
                <td>Demonstrates how to create keyboard shortcuts for htmx enabled elements</td>
            </tr>
        </tbody>
    </table>
</article>